@import url('https://googleapis.com');._ui-header_3y0uo_1 {
  background:#000000;
  height: 64px;
  padding: 24px;
  color: #ffffff;

  font-weight: 800;
  font-size: 20px;

  box-sizing: border-box;
}

._header-back_3y0uo_13 {
  background: transparent;
  border: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: url("data:image/svg+xml,%3csvg%20width='32'%20height='32'%20viewBox='0%200%2032%2032'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20d='M5.58325%2016L4.41195%2015.063L3.66231%2016L4.41195%2016.9371L5.58325%2016ZM26.4166%2017.5C27.245%2017.5%2027.9166%2016.8285%2027.9166%2016C27.9166%2015.1716%2027.245%2014.5%2026.4166%2014.5V17.5ZM12.7453%204.64632L4.41195%2015.063L6.75456%2016.9371L15.0879%206.52041L12.7453%204.64632ZM4.41195%2016.9371L12.7453%2027.3537L15.0879%2025.4797L6.75456%2015.063L4.41195%2016.9371ZM5.58325%2017.5H26.4166V14.5H5.58325V17.5Z'%20fill='white'/%3e%3c/svg%3e") center center no-repeat;
}._ui-button_pvl2p_1 {
  display: inline-block;
  border: 1px solid transparent;
  background: transparent;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;

  box-sizing: border-box;

  font-family: Noto Sans;
}

._ui-button_pvl2p_1:disabled {
  background: #BEBEBE;
}

._variant-default_pvl2p_18 {
  color: #000000;
}

._variant-primary_pvl2p_22 {
  color: #ffffff;
  background: #000000;
}

._variant-secondary_pvl2p_27 {
  color: #0A0D13;
  background: #ffffff;
  border: 1px solid #0000001A;
}

._size-small_pvl2p_33 {
  height: 24px;

  font-weight: 500;
  font-size: 12px;
}

._size-large_pvl2p_40 {
  height: 64px;
  font-weight: Bold;
  font-size: 16px;
}

._is-block_pvl2p_46 {
  width: 100%;
}._ui-checkbox_1ecjz_1 {
  display: inline-block;
}
._ui-checkbox_1ecjz_1 input {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

._ui-checkbox_1ecjz_1 input + label {
  display: inline-block;
  padding-left: 40px;
  padding-top: 4px;
  padding-bottom: 4px;
  height: 24px;
  margin: 0;
  border: none;
  background: transparent
    url("data:image/svg+xml,%3csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3crect%20width='24'%20height='24'%20rx='8'%20fill='white'/%3e%3crect%20x='0.5'%20y='0.5'%20width='23'%20height='23'%20rx='7.5'%20stroke='black'%20stroke-opacity='0.1'/%3e%3cg%20clip-path='url(%23clip0_13996_1608)'%3e%3cpath%20d='M9%2016.17L4.83%2012L3.41%2013.41L9%2019L21%207L19.59%205.59L9%2016.17Z'%20fill='black'%20fill-opacity='0.1'/%3e%3c/g%3e%3cdefs%3e%3cclipPath%20id='clip0_13996_1608'%3e%3crect%20width='24'%20height='24'%20fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e") 0 0
    no-repeat;

  font-weight: 500;
  font-size: 12px;
}

._ui-checkbox_1ecjz_1._checked_1ecjz_29 input label,
._ui-checkbox_1ecjz_1 input:checked + label {
  background: transparent
    url("data:image/svg+xml,%3csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3crect%20x='0.5'%20y='0.5'%20width='23'%20height='23'%20rx='7.5'%20fill='black'%20stroke='black'/%3e%3cg%20clip-path='url(%23clip0_15709_131)'%3e%3cpath%20d='M9%2016.17L4.83%2012L3.41%2013.41L9%2019L21%207L19.59%205.59L9%2016.17Z'%20fill='white'/%3e%3c/g%3e%3cdefs%3e%3cclipPath%20id='clip0_15709_131'%3e%3crect%20width='24'%20height='24'%20fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e") 0 0
    no-repeat;
}

._ui-checkbox_1ecjz_1._empty_1ecjz_36 input + label {
  padding-left: 24px;
}
._ui-list_g8kf0_1 {
  margin-bottom: 16px;
}

._ui-list_g8kf0_1 ._item_g8kf0_5 {
  margin-top: 16px;
}

._item_g8kf0_5 ._header_g8kf0_9 { 
  display: flex;
  justify-content: space-between;
}

._header-left_g8kf0_14 {
  text-align: left;
}
._header-right_g8kf0_17 {
  text-align: right;
}

._item_g8kf0_5 ._body_g8kf0_21 {
  display: flex;
  margin-top: 12px;
  padding: 12px;
  border-radius: 5px;
  align-items: center;
}

._left_g8kf0_29 {
  margin-right: 24px;
}
._right_g8kf0_32 {
  margin-left: 12px;
}

._box_g8kf0_36 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1;
}
._title_g8kf0_42 {
  font-weight: 500;
  font-size: 12px;

  color: #353C49;
}
._content_g8kf0_48 {
  font-weight: 700;
  font-size: 24px;
}
._description_g8kf0_52 {
  font-weight: 400;
  font-size: 9.5px;
  line-height: 100%;
  color: #8C8C8C;
}
._ui-img-box_t57eb_1 {
  display: inline-block;
  width: 112px;
  height: 112px;
  border-radius: 8px;
  background: #DCE3EA;
  overflow: hidden;
}._ui-title_1lnq7_1 {
  padding-bottom: 36px;
}

._title_1lnq7_5 {
  font-weight: 700;
  font-size: 24px;
}

._sub-title_1lnq7_10 {
  margin-top: 15px;
  font-weight: 500;
  font-size: 12px;
}._ui-data-info_i0bp7_1 {}

._item_i0bp7_3 {
  display: flex;
  justify-content: space-between;
  min-height: 42px;
  align-items: center;
}

._item_i0bp7_3 ._item-title_i0bp7_10 {
  font-weight: 700;
  font-size: 16px;
}

._item_i0bp7_3 ._item-content_i0bp7_15 {
  font-weight: 700;
  font-size: 24px;
}
._ui-number-stepper_mu194_1 {
  display: inline-flex;
  align-items: center;
}

._value-item_mu194_6 {
  display: inline-block;
  width: 24px;
  margin-right: 4px;
  margin-left: 4px;

  color: #0A0D13;
  text-align: center;
  vertical-align: super;

  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
}

._button-plus_mu194_21,
._button-minus_mu194_22 {
  width: 24px;
  height: 24px;
  border: none;
}

._button-plus_mu194_21 {
  background: url("data:image/svg+xml,%3csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3crect%20width='24'%20height='24'%20rx='8'%20fill='white'/%3e%3crect%20x='0.5'%20y='0.5'%20width='23'%20height='23'%20rx='7.5'%20stroke='black'%20stroke-opacity='0.1'/%3e%3cpath%20d='M6%2012.0001H18M12%2018.0001V6.00006'%20stroke='%23363636'%20stroke-width='1.5'%20stroke-linecap='round'%20stroke-linejoin='round'/%3e%3c/svg%3e") center center no-repeat;
}

._button-minus_mu194_22 {
  background: url("data:image/svg+xml,%3csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3crect%20width='24'%20height='24'%20rx='8'%20fill='white'/%3e%3crect%20x='0.5'%20y='0.5'%20width='23'%20height='23'%20rx='7.5'%20stroke='black'%20stroke-opacity='0.1'/%3e%3cpath%20d='M6%2012C10.6863%2012%2013.3137%2012%2018%2012'%20stroke='%23363636'%20stroke-width='1.5'%20stroke-linecap='round'%20stroke-linejoin='round'/%3e%3c/svg%3e") center center no-repeat;
}._ui-content-box_1qdw3_1 {
  padding: 24px;
}._ui-notice_10o55_1 {
  height: calc(100vh - 64px * 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 24px;
  box-sizing: border-box;

  font-weight: 400;
  font-size: 16px;
  text-align: center;
}._ui-loading_95g30_1 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, .2);
  
}._ui-alert_1f0lt_1 {
  position: fixed;
  top: 50px;
  transform: translate(-50%, -50%);
  width: 300px;
  left: 50%;
  z-index: 100;
  background: rgba(255,255,255);
  border: 1px solid #000;
  text-align: center;
  border-radius: 4px;
  padding: 24px;
}/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize *//*
Document
========
*//**
Use a better box model (opinionated).
*/*,
::before,
::after {
	box-sizing: border-box;
}/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the line height in all browsers.
3. Prevent adjustments of font size after orientation changes in iOS.
4. Use a more readable tab size (opinionated).
*/html {
	font-family:
		system-ui,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji'; /* 1 */
	line-height: 1.15; /* 2 */
	-webkit-text-size-adjust: 100%; /* 3 */
	tab-size: 4; /* 4 */
}/*
Sections
========
*//**
Remove the margin in all browsers.
*/body {
	margin: 0;
}/*
Text-level semantics
====================
*//**
Add the correct font weight in Chrome and Safari.
*/b,
strong {
	font-weight: bolder;
}/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}/**
Add the correct font size in all browsers.
*/small {
	font-size: 80%;
}/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}sub {
	bottom: -0.25em;
}sup {
	top: -0.5em;
}/*
Tabular data
============
*//**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/table {
	border-color: currentcolor;
}/*
Forms
=====
*//**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}/**
Correct the inability to style clickable types in iOS and Safari.
*/button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/legend {
	padding: 0;
}/**
Add the correct vertical alignment in Chrome and Firefox.
*/progress {
	vertical-align: baseline;
}/**
Correct the cursor style of increment and decrement buttons in Safari.
*/::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}/**
Remove the inner padding in Chrome and Safari on macOS.
*/::-webkit-search-decoration {
	-webkit-appearance: none;
}/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}/*
Interactive
===========
*//*
Add the correct display in Chrome and Safari.
*/summary {
	display: list-item;
}body {}body {
  font-family: 'Noto Sans', sans-serif;
}